<% title "Архив событий" %>

<% @events.each do |event| %>
<article>
	<header>
		<h1><%= link_to event["title"]["$t"], {:action => "event", :id => event["id"]["$t"].gsub("#{cal_url}/","")  } %></h1>
		<div><%= parse_date_time(event["gd$when"][0]["startTime"]) %></div>
	</header>
</article>
<% end%>
