<article>
	<header>
		<h1>Ближайшие события</h1>
	</header>
</article>
<a target="_blank" href="https://www.google.com/calendar/feeds/i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com/public/basic"><img src="https://www.google.com/calendar/images/xml.gif"></a>&nbsp;<a target="_blank" href="https://www.google.com/calendar/ical/i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com/public/basic.ics"><img src="https://www.google.com/calendar/images/ical.gif"></a>&nbsp;<a target="_blank" href="https://www.google.com/calendar/embed?src=i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com&amp;ctz=Europe/Moscow"><img src="https://www.google.com/calendar/images/html.gif"></a>

<iframe src="https://www.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i1hvc1jnaki2jnrqept2i8sago%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Europe%2FMoscow" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>