<article>

	<header>
		<h1><a href="/">Moscow ALT.NET</a></h1>
		<div class="postmeta">
			<time datetime="2011-03-19">March 19th, 2011</time>
		</div>
	</header>
	<p><img src="/images/moscowaltnet-white.png" alt="moscow alt.net logo" align="left" style="margin: 0 10px 10px 0;" />Привет! Вот мы и начали запиливать наш сайтик (<a href="https://github.com/butaji/moscowaltnet"><img src="https://github.com//favicon.ico" /> fork me!</a>)</p>
	<p><strong>Moscow ALT.NET</strong> - сообщество профессиональных разработчиков в городе Москва о чем не трудно догадаться исходя из названия, содержащего в себе геогрфическую принадлежность и некоторые буковки (<a href="http://altnetpedia.com/OverviewWhatIsIt.ashx">what is alt.net</a> ).</p>
	<p><strong>Цель сообщества</strong> поддерживать оффлайн общение, и делиться практиками. Обычно <a href="/home/events"><img src="http://calendar.google.com/googlecalendar/images/favicon_v2010.ico" /> мы встречаемся</a> вечером каждый последний четверг месяца и проводим небольшие бесплатные семинары (часа 2,5-3 продолжительностью).</p>
	<p><strong>Аудитория</strong> складывается из разработчиков с опытом от 2 лет. Однако никаких ограничений для посещения встречи не существует.</p>
	<p>Мы создали небольшой <a target="new"  href="https://groups.google.com/forum/?fromgroups#!forum/moscow-altnet"><img src="https://groups.google.com/favicon.ico" /> форум на гуглогруппах</a> для общения после встреч, а так же по пересекающимся вопросам. Не обошли стороной и <a target="new"  href="http://www.facebook.com/home.php?sk=group_155129717874893&ap=1"> <img src="https://facebook.com/favicon.ico" /> facebook.</a></p>
	<p>Продолжение следует...</p>
	<p>&nbsp;</p>
	

</article>