<div class="top">
    	<div class="container">
      	<div class="clearfix">
        	<div class="grid3 first">
          	<h2>Products list</h2>
            <ul class="list3">
            	<li><a href="#">Fusce euismod consequat antem</a></li>
              <li><a href="#">Lorem ipsum dolor amconsectetue</a></li>
              <li><a href="#">Adipiscing elit pellentesq sed dolor</a></li>
            </ul>
            <ul class="list3">
            	<li><a href="#">Aliquam congue fermentum nislum</a></li>
              <li><a href="#">Mauris accumsan nulla vel diam</a></li>
              <li><a href="#">Sed in lacus utem enim adipiscing</a></li>
              <li><a href="#">Aliquet nulla venenatis in pedem</a></li>
            </ul>
            <ul class="list3">
            	<li><a href="#">Aliquet sit amet euismod in auctor</a></li>
              <li><a href="#">Ligula aliquam dapibus tincidunt</a></li>
              <li><a href="#">Metus praesent justo dolor lobortis</a></li>
            </ul>
            <a href="#" class="more">Read More</a>
          </div>
        	<div class="grid9">
          	<h2>Featured products</h2>
            <div class="img-box">
            	<figure><img src="images/2page-img1.jpg" alt=""></figure>
              <p><a href="#"><strong>Fusce euismod consequat ante</strong></a> lorem ipsum dolor sit amet consectetuer adipiscing elit pellentesque sed dolor. Aliquam congue fermentum nisl mauris accumsan nulla veldiam sed lacus utenim adipiscing aliquet nulla.</p>
              Venenatis inpede maliquet amet euismod nauctor ligula aliquam dapibus tincidunt metus <a href="#">praesent justo dolor lobortis</a> quis lobortisissim pulvinar aclorem vestibulum sed ante. Donec sagittis euismod purus lorem ipsum dolor.
            </div>
            <div class="img-box">
            	<figure><img src="images/2page-img2.jpg" alt=""></figure>
              <p><a href="#"><strong>Lorem ipsum dolor sit amet consectetuer</strong></a> adipiscing elit pellentesque sed dolor. Aliquam congue fermentum nisl mauris accumsan nulla veldiam sedlacus utenim adipiscing aliquet venenatis inpede maliquet amet euismod.</p>
              Nauctor ligul aliquam dapibus tincidunt metus praesent justo dolor lobortis lobort- sissim pulvinar aclorem vestibulum <a href="#">sed ante donec sagittis euismod</a> purus lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie 
            </div>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
      </div>
</div>
<div class="middle">
    	<div class="container">
      	<div class="clearfix">
        	<div class="grid3 first">
          	<h2>New service</h2>
            <div class="img-wrap"><figure><img src="images/2page-img3.jpg" alt=""></figure></div>
            <p>Fuscem euismod consequat ante lorem ipsum dolor sitamet consectetuer adipiscing elit pellentesque sed.</p>
            <p><a href="#">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam sed in lacus ut enim adipiscing aliquet nulla</a></p>
            <a href="#" class="more">Read More</a>
          </div>
        	<div class="grid9">
          	<h2>Services overview</h2>
            <p><a href="#"><strong>Fusce euismod consequat ante lorem</strong></a> ipsum dolor sit amet consectetuer adipiscing elit pellentes dolor aliquam conguet fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede maliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortisissim pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p> 
            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris phasellus porta fusce suscipit varius micum sociis natoque penatibus et magnis dis parturient nascetur ridiculus musnulla dui fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
            <div class="clearfix">
            	<div class="grid3 first">
              	<ul class="list3">
                	<li><a href="#">Fusce euismod consequat ante</a></li>
                  <li><a href="#">Lorem ipsum dolor amconsectetuer</a></li>
                  <li><a href="#">Adipiscing elit pellentesq sed dolor</a></li>
                  <li><a href="#">Aliquam congue fermentum nislum</a></li>
                  <li><a href="#">Mauris accumsan nulla vel diam</a></li>
                </ul>
              </div>
            	<div class="grid3">
              	<ul class="list3">
                	<li><a href="#">Mauris accumsan nulla vel diam</a></li>
                  <li><a href="#">Sed in lacus utem enim adipiscing</a></li>
                  <li><a href="#">Aliquet nulla venenatis in pedem</a></li>
                  <li><a href="#">Aliquet sit amet euismod in auctor</a></li>
                  <li><a href="#">Ligulam aliquam dapibus tincidunt</a></li>
                </ul>
              </div>
            	<div class="grid3">
              	<ul class="list3">
                	<li><a href="#">Fusce euismod consequat antem</a></li>
                  <li><a href="#">Lorem ipsum dolor amconsectetuer</a></li>
                  <li><a href="#">Adipiscing elit pellentesq sed dolor</a></li>
                  <li><a href="#">Aliquam congue fermentum nislum</a></li>
                  <li><a href="#">Mauris accumsan nulla vel diam</a></li>
                </ul>
              </div>
            </div>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
      </div>
</div>