<article>

	<header>
		<h1><a href="/home/speakers">Новости</a></h1>
		<div class="postmeta">
			<time datetime="2011-03-19">March 19th, 2011</time>
		</div>
	</header>
	<p>Вот и начал запиливаться сайтик</p>
	<p>&nbsp;</p>

</article>