<% title "Докладчики" %>

<article>

	<header>
		<h1><a href="/home/speakers">Speakers</a></h1>
		<div class="postmeta">
			<time datetime="2011-03-19">March 19th, 2011</time>
		</div>
	</header>
	<p>Тут будет инфа о спикерах и голосовалка за ближайшие доклады</p>
	<p>&nbsp;</p>

</article>