<!DOCTYPE html>
<html>
<head>
  <title>Moscowaltnet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
	    <nav>
	    	<div class="container">
	        <div class="wrapper">
	          <h1><a href="/">Moscow ALT.NET</h1>
	          <ul>
	          	<li><a href="index.html" class="current">О нас</a></li>
	            <li><a href="index-1.html">Встречи</a></li>
	            <li><a href="index-2.html">Новости</a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	    <section class="adv-content">
	    	<div class="container">
	        <ul class="breadcrumbs">
	        	<li>Сообщество московских разработчиков программного обеспечения</li>
	        </ul>
	        <form action="" id="search-form">
	          <fieldset>
	          	<input type="text" value=""><input type="submit" value="">
	          </fieldset>
	        </form>
	      </div>
	    </section>
	  </header>
	 <section id="content">
	
<%= yield %>
 <div class="bottom">
  	<div class="container">
    	<div class="clearfix">
      	<div class="grid6 first">
          <h3>Services List</h3>
          <div class="wrapper">
          	<div class="grid3 first">
            	<ul class="list2">
              	<li><a href="#">Sed ut perspiciatis unde omnis iste</a></li>
                <li><a href="#">Natus ervoluptatem accusantium</a></li> 
                <li><a href="#">Doloremque laudantium totam rem</a></li>
                <li><a href="#">Aperiam, eaque ipsa quae ab illo</a></li> 
                <li><a href="#">Inventore veritatis et quasi architecto</a></li>
                <li><a href="#">Beatae vitae dicta sunt explicabo</a></li>
                <li><a href="#">Nemo enim ipsam voluptatem quia </a></li>
              </ul>
            </div>
          	<div class="grid3">
            	<ul class="list2">
              	<li><a href="#">Vestibulum iaculis lacinia est proin</a></li>
                <li><a href="#">Dictum elementum velit fusce</a></li> 
                <li><a href="#">Euismod consequat ante lorem</a></li> 
                <li><a href="#">Ipsum dolor sit amet, consectetuer</a></li> 
                <li><a href="#">Adipiscing elit pellentesque sedolor</a></li>
                <li><a href="#">Aliquam congue fermentum nisl</a></li> 
                <li><a href="#">Mauris accumsan nulla vel diam</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="grid3">
          <h3>Unique Services</h3>
          <p>Praesent vestibulum mol lacus aenean nonummy hendrerit maurisen phasellus porta fusce suscipit varius micum sociis natoque penatibus et magnis.</p>
          Diparturient nascetur ridiculus musnulla dui fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus.
        </div>
        <div class="grid3">
          <h3>Risk Management</h3>
          <p>Praesent vestibulum mol lacus aenean nonummy hendrerit maurisen phasellus porta fusce suscipit variusem.</p>
          <ul class="list1">
            <li><a href="#">Lorem ipsum dolor sitemet amet</a></li>
            <li><a href="#">Consectetuer adipiscing elitum</a></li>
            <li><a href="#">Praesent vestibulum molestie lacus</a></li>
          </ul>
        </div>
        <div class="grid3">
        	<div id="datepicker"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
  	<div class="wrapper">
    	<div class="copy">Moscow ALT.NET (c) 2011</div>
    </div>
  </div>
</footer>
</body>
</html>
